BASE_URL=https://demoqa.com
BOOKS_PATH=/books
LOGIN_PATH=/login
PROFILE_PATH=/profile
API_BASE_URL=https://demoqa.com
API_ACCOUNT_BASE_PATH=/Account/v1
API_BOOKSTORE_BASE_PATH=/BookStore/v1

# DemoQA password policy:
# minimum 8 chars, upper, lower, number and special char
DEFAULT_PASSWORD=Password123!

# Set to true if you want to delete created users at the end of tests.
DELETE_CREATED_USER=false
